.bg{
    background-image: url("https://3.bp.blogspot.com/-A_RkPR1Px8g/VTcpDKnaISI/AAAAAAAAFKM/VRb_gkLpr18/s1600/green-virus.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
}